$background: lightblue;

body {
  background: $background;
  font-family: "Helvetica Neue", serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  div {
    border: 1px solid grey;
    height: 15px;
    width: 15px;
    padding: 3px;
    text-align: center;
    background-color: white;
    &.empty {
      background-color: black;
    }
  }

  &.number {
    color: #777;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
  }
}
